@model TBDAirline.Models.ReservationView

<h1>Congratulation! Your flights have been reserved successfully! </h1>

<div class="container border" style="padding:20px">
    <br /> Your Tracking ID is @Model.Reservation.TrackingID
    <br /> A confirmation email has been sent to your passenger's email.
</div>